<body class="Body">
  <form class="Form" [formGroup]="addWriteOffForm">


    <!--WRITE OFF STOCK-------------------------------------------------------------------------------------------------------->
    <h1>Write Off Stock</h1>
    <p> Please enter write off stock details<p>

        <div class="form-group">
          <mat-form-field class="InputWidth">
            <mat-label>Product Name</mat-label>
            <mat-select formControlName="ProductName" #fontSize>
              <mat-option *ngFor="let product of Products" [value]="product.value">
                {{ product.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <!-- Company Name -->
        <div class="form-group">
          <mat-form-field class="InputWidth">
            <input formControlName="WriteOffStockUnits" matInput placeholder="Quantity Being Written Off">
          </mat-form-field>
        </div>

        <!-- Expirey Date -->
        <div class="form-group">
          <mat-form-field class="InputWidth">
            <input matInput formControlName="WriteOffDate" [matDatepicker]="picker1"
              placeholder="Date of Write Off - (dd/mm/yyyy)">
            <!-- <mat-hint>(dd/mm/yyyy)</mat-hint> -->
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>



        <div class="form-group">
          <mat-form-field class="InputWidth">
            <textarea formControlName="WriteOffStockReason" matInput placeholder="Reason For Write Off"></textarea>
          </mat-form-field>
        </div>



        

        <!-- <table>
              <tr> -->
        <!-- Cancel Button -->
        <!-- <td>
                    <input matInput [matDatepicker]="picker1d" placeholder="Supporting Image for Write Off">

                  </td> -->
        <!-- Add Courier Button -->
        <!-- <td><button class="CrudButton" mat-raised-button>Upload</button></td> -->
        <!-- </tr>
            </table> -->

        <div style="padding: 3%"></div>

        <!-- Camera ---------------------------------------------------------------------------------------------------------- -->

        <!-- 
        <div style="text-align:center">
          <div style="text-align:center">
            <div>
              <webcam [height]="150" [width]="150" [trigger]="triggerObservable" (imageCapture)="handleImage($event)">
              </webcam>
              <br />

              <button  class="WOSphoto" id="snapshotBtn" (click)="triggerSnapshot();" mat-raised-button>Take A Snapshot</button>
                        </div>
            <div style="padding: 1%"></div>
          </div>
          <div class="snapshot" *ngIf="webcamImage">
            <img [src]="webcamImage.imageAsDataUrl" />
          </div>
        </div> -->
        <!-- Camera ---------------------------------------------------------------------------------------------------------- -->



        <div style="text-align:center">

          <table>
            <tr>
              <td>
                <div style="text-align:center">
                  <div>
                    <webcam [height]="150" [width]="150" [trigger]="triggerObservable"
                      (imageCapture)="handleImage($event)">
                    </webcam>
                    <br />
                    <!-- <button class="WOSphoto" id="snapshotBtn" (click)="triggerSnapshot();">Take A Snapshot</button> -->
                  </div>
                  <div style="padding: 1%"></div>
                </div>
              </td>
              <td>
                <div class="snapshot" *ngIf="webcamImage">
                  <img [src]="webcamImage.imageAsDataUrl" />
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button class="WOSphoto" id="snapshotBtn" (click)="triggerSnapshot();" mat-raised-button>Take A
          Snapshot</button>


        <div style="padding: 3%"></div>

        <table>
          <tr>
            <!-- Cancel Button -->
            <td><button type="button" class="CrudButton" mat-raised-button (click)="closeAddWriteOffPopUp()">Cancel
              </button></td>
            <!-- Add Courier Button -->
            <td><button (click)="WriteOffSubmit()" type="submit" class="CrudButton" mat-raised-button>Write Off</button>
            </td>
          </tr>
        </table>

        <!-- Bottom Space Of Screen  -->
        <div style="padding: 2%"></div>
        <!--UPDATE PRODUCT------------------------------------------------------------------------------------------------------------------>

  </form>


</body>